<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harley.mapper.UserMapper">
    <select id="getAllUser" resultType="com.harley.pojo.User">
        select * from smbms.smbms_user
    </select>

    <select id="getUserByUserCode" resultType="com.harley.pojo.User">
        select * from smbms.smbms_user where userCode = #{userCode}
    </select>

    <update id="UpdateUserPwd" parameterType="string">
        update smbms.smbms_user
        set userPassword = #{newPassWord}
        where userCode = #{userCode};
    </update>
    
    <select id="getUserCount" resultType="integer">
        select count(1) from smbms.smbms_user
        <where>
            <if test="userName != null and userName != ''">
                AND userName like "%"#{userName}"%"
            </if>
            <if test="userRole != null and userRole > 0">
                AND userRole = #{userRole}
            </if>
        </where>
    </select>

    <select id="getUserByNameAndRole" resultType="com.harley.pojo.User">
        SELECT
            u.*,
            r.roleName AS userRoleName
        FROM
            smbms.smbms_user AS u,
            smbms.smbms_role AS r
        WHERE
            u.userRole = r.id
        <if test="userName != null and userName != ''">
            AND userName like "%"#{userName}"%"
        </if>
        <if test="userRole != null and userRole > 0">
            AND userRole = #{userRole}
        </if>
        LIMIT #{offset},#{pageSize}
    </select>

</mapper>