<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harley.mapper.UserMapper">
    <select id="getAllUser" resultType="com.harley.pojo.User">
        select * from smbms.smbms_user
    </select>

    <select id="getUserByUserCode" resultType="com.harley.pojo.User">
        select * from smbms.smbms_user where userCode = #{userCode}
    </select>

    <update id="UpdateUserPwd" parameterType="string">
        update smbms.smbms_user
        set userPassword = #{newPassWord}
        where userCode = #{userCode};
    </update>
</mapper>